[Unit]
Description=Cacti Thold Daemon
After=mysql.service
Requires=mysql.service
AssertPathExists=<CACTIDIR>/plugins/thold/

[Service]
User=root
Group=root
Type=forking
ExecStart=/usr/bin/php <CACTIDIR>/plugins/thold/thold_daemon.php -f
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
